@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body 
{
	font-family: 'Roboto', sans-serif;
}

main 
{
	position:relative;
}


ion-icon
{
	font-size:1.25rem;
}

#content 
{
	background-color: white;
}

#header
{
	background-image: url(../images/main_med.jpg);
	background-size: cover;
	background-position: center center;
}

@media (max-width: 767px) 
{
	#top_contacts
	{
		display: none;
	
	}

}

@media (min-width: 767px) 
{
	.navbar-brand
	{
	}
}


#top_contacts 
{
	background-color: #0174b3;
}

#top_contacts  a
{
	color: white !important;
	text-decoration: none !important;
}

#top_contacts  a:hover
{
	text-shadow: 2px 2px 4px #000000;
}

a ion-icon:hover
{
	color:black;
}

#top_contacts  div
{
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;	
}

#left_cont a 
{
	padding-right:0.5rem;
}

#left_cont ion-icon 
{
	position:relative;
       	top:0.2rem;
}

#right_cont a 
{
	padding-left:1rem;
}

#right_cont 
{
	text-align: right;
}

.navbar-collapse
{
	justify-content: flex-end;
}

/*  */

nav
{
	padding: 0 !important;
	margin: 0 !important;
}
