body {
	background-image: url(../images/back.png);

}

main {
position:relative;
}

#content {
	background-color: white;

}

#header {
	background-image: url(../images/main_med.jpg);
	background-size: cover;
	background-position: center;
}

#top_contacts
{
	background-color: #0174b3;
	color: white;
}

#right_cont {
	float:right;
	text-align: right;
}

.navbar-collapse{
	justify-content: flex-end;
	}
